<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Люди</title>
</head>
<body>
<p th:text="${person.getFio()+', '+person.getBirthday()}">VALUE</p>

<div th:if="${personBooks.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
    <hr/>
</div>

<div th:if="${!personBooks.isEmpty()}">
    <p>Книги:</p>
    <div th:each="personBook : ${personBooks}">
        <p th:text="${personBook.getName()+', '+personBook.getAuthor()+', '+personBook.getYear()}">VALUE</p>
    </div>
</div>


<form th:method="GET" th:action="@{/person/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/person/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>